@inherits LayoutComponentBase

@using AliHayderBase.Shared.Core.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Navigation

@inject INavigationTracker Tracker

@* <HeadContent>  
     <link href="lib/font-awesome/css/all.min.css" rel="stylesheet" />    
</HeadContent> *@

<div id="theHeader">
    <Header />
</div>

<div id="theBody">
    <main>
        @Body
    </main>
</div>

<div id="theFooter">
    <Footer />
</div>

@code {
    protected override void OnInitialized()
    {
        Tracker.Record(Navigation.Uri);
    }
}
