@inherits LayoutComponentBase

@using AliHayderBase.Shared.Core.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Navigation

@inject INavigationTracker Tracker

@* <HeadContent>  
     <link href="lib/font-awesome/css/all.min.css" rel="stylesheet" />    
</HeadContent> *@
<div class="layout-container">

    <div class="layout-header">
        <Header />
    </div>

    <main class="layout-body ">
        @Body
    </main>


    <div class="layout-footer">
        <Footer />
    </div>
</div>


@code {
    private bool isFadingOut = false;

    protected override void OnInitialized()
    {
        Tracker.Record(Navigation.Uri);
        @* Navigation.LocationChanged += async (_, args) =>
        {
            isFadingOut = true;
            StateHasChanged();
            await Task.Delay(500); // Match animation duration
            isFadingOut = false;
            StateHasChanged();
        }; *@
    }
    
}