<!DOCTYPE html>

<html>
<head class="rtl">
    <meta name="viewport" content="width=device-width" />
    <title> شكرا لكم للاشتراك في موقع @ViewBag.Company</title>
</head>
<body class="rtl">
    <div>
        <p style="font-family:Changa; font-size:18px; color:darkcyan">مرحبا بك @ViewBag.UserName,</p>
        <p style="font-family:Changa; font-size:18px; color:darkcyan"> @ViewBag.Subject استخدم هذا الرمز</p>
        <p style="font-family:Changa; font-size:22px; color:rgb(235, 79, 118)">@ViewBag.Code</p>
    </div>

    <br />
    <p style="font-family:Changa; font-size:20px;color:darkcyan">مع تحيات @ViewBag.Company</p>
</body>
</html>
