
<!DOCTYPE html>

<html>
<head class="rtl">
    <meta name="viewport" content="width=device-width" />
    <title> شكرا لكم للاشتراك في موقع @ViewBag.Company</title>
</head>
<body class="rtl">
    <div>
        <p style="font-family:Changa; font-size:18px; color:darkcyan">مرحبا بك @ViewBag.UserName,</p>
        <p style="font-family:Changa; font-size:16px;">لتفعيل الاشتراك يرجى الضغط على <a href="@ViewBag.Link">هذا الرابط</a></p>
    </div>

    <br />
    <p style="font-family:Changa; font-size:20px;">مع تحيات @ViewBag.Company</p>
</body>
</html>
